<script props>
  // https://maizzle.com/docs/components/divider
  const spaceY = props['space-y'] || '24px'
  const spaceX = props['space-x']
  const top = props.top
  const bottom = props.bottom
  const left = props.left
  const right = props.right
  const height = props.height || '1px'
  const color = props.color || '#cbd5e1'
  const hasBgClass = props.class && props.class.split(' ').some(c => c.startsWith('bg-'))
  
  let marginStyle = 'margin: 0;'
  
  if (spaceY) {
    marginStyle = `margin-top: ${spaceY}; margin-bottom: ${spaceY};`
  } else {
    if (top) marginStyle += ` margin-top: ${top};`
    if (bottom) marginStyle += ` margin-bottom: ${bottom};`
  }
  
  let horizontalMargin = ''
  if (spaceX) {
    horizontalMargin = `margin-left: ${spaceX}; margin-right: ${spaceX};`
  } else {
    if (left) horizontalMargin += `margin-left: ${left}; `
    if (right) horizontalMargin += `margin-right: ${right};`
  }
  
  module.exports = {
    height,
    color,
    marginStyle,
    horizontalMargin,
    hasBgClass,
  }
</script>

<div
  role="separator"
  class="{{ (!color && !hasBgClass) && 'bg-slate-300' }} {{ props.class }}"
  style="height: {{ height }}; line-height: {{ height }}; background-color: {{ color }}; {{ marginStyle }} {{ horizontalMargin }}"
>&zwj;</div>
